.App {
    display: flex;
    flex: 1;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 1cm; */
  }
  img{
    margin-top: 1.75cm;
    margin-left: 5cm;
  }
  body{
    padding-top: 0.5cm;
    padding-right: 0.5cm;
    background-image:url("./wall2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  fieldset {
    font-weight: bold;
    background-color:transparent;
    display: flex;
    margin-right: 2cm;
    margin-top: 1cm;
    width: 400px;
    padding: 50px;
    padding-top: 14px;
    padding-bottom: 10px;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 8px 8px 8px 8px rgba(19, 18, 18, 0.2), 6px 6px 8px 8px rgba(92, 91, 91, 0.19);
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    font-size: 14px;
    color: black;
  }
  
  sup {
    color: red;
    top: -2px;
    font-size: 95%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  select {
    font-weight: bold;
    border: none;
    height: 32px;
    padding: 0 8px;
    color: black;
    background-color: transparent;
    border-bottom: 2px solid #2C3477;
  }
  select:focus{
      color: black;
    height:0.95cm;
    border-radius: 20px;
  }
  
  option{
    color:black ;
    background-color: white;
    border-radius: 15px;
  }
  
  option:hover{
    color: white;
    background-color: #2C3477;
  }
  .Field {
    position: relative;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
  
  .Field1{
    position: relative;
    padding-bottom: 24px;
  }
  .FieldError {
    position: absolute;
    bottom: -6px;
    color: red;
    font-size: 12px;
  }
  
  .Row {
    display: flex;
    flex-direction: row;
  }
  
  button {
    padding: 12px;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    width: 240px;
    border-radius: 40px;
    border: 1px solid 32C3477;
    background-color: #2C3477;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
  }
  
  button:disabled,
  button[disabled],
  button[disabled]:hover {
    border: 1px solid black;
    background-color: #cccccc;
    color: gray;
    cursor: not-allowed;
  }
  
  button:hover{
    background-color: white;
    color: rgb(0, 0, 0);
  }
  
  h2{
    align-self: center;
    font-family: 'Canadara';
    font-size: 35px;
    text-decoration: underline;
    text-shadow: 2px 2px 5px white, 0 0 5px rgb(126, 120, 120);
    color: #2C3477;
  }
  
  input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #2C3477;
    height: 32px;
    padding: 0 8px;
    color: black;
  }
  input:focus{
    color: black;
    height:0.95cm;
    border-radius: 20px;
  }
  p{
    color: black;
    font-size: medium;
    font-style: bold;
    text-align: center;
  }
  a{
    margin-left: 10px;
    text-decoration: none;
    font-weight: 700;
    color: #2C3477;
  }
  a:hover{
    font-size: larger;
  }
  footer{
    font-size: 10px;
    text-align: center;
  }