img {
    width: 31%;
    margin: calc(7%/6);
}

nav {
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-sarif';
    font-style: italic;
    border-bottom: 2px solid #f1f1f1;
    width: 31%;
    margin-left: calc(7%/6);
    padding: 1.2em 0;
}